a.more { 
	display: block; 
	width: 143px; 
	height: 53px; 
	font-size: 16px; 
	padding-top: 4px; 
	text-align: center; 
	text-decoration: none; 
	font-weight: bold; 
	background: url("https://web-air.github.io//images/buy_button-1.png") no-repeat top center; 
	color: #333; 
	text-shadow: 1px 1px 1px #fffe74; 
}

a.more:hover { 
	color: #fff; 
	text-shadow: 1px 1px 1px #999; 
}

a.more_small { 
	display: inline-block; 
	width: 76px; 
	line-height: 21px; 
	text-align: center; 
	text-decoration: none; 
	font-weight: bold; 
	background: url("https://web-air.github.io//images/buy_button-2.png") no-repeat top center; 
	color: #333; 
	text-shadow: 1px 1px 1px #fed450; 
}

a.more:hover { 
	color: #fff; 
	text-shadow: 1px 1px 1px #999; 
}
