*, *:before, *:after {
  box-sizing: border-box;
}

/* Topmenu Area */
ul {
  list-style: none;

}

ul > li {
  list-style: none;
}

.logo3d {
  padding-right: 21px;
  padding-top: 0px;
  padding-left: 0px;
}

nav.nav_menu {
  font-size: 15px;
}

nav.nav_menu ul {
  width: 480px;
  padding-top: 35px;
}

.nav_menu > ul > li {
  list-style: none;
  display: inline-block;
  line-height: 20px;
  z-index: 800;
}

.nav_menu > ul li a, .xs-menu li a {
  text-decoration: none;
  
/* Top Menu text */
  color: white;
  display: block;
  padding: 0px 10px;
  z-index: 800;
}

.nav_menu > ul li a:hover {
  background: #00BFF3;
  transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  border-radius: 10px;
}

#mydropdown1 {
  background: none repeat scroll 0 0 black;
  left: 0;
  position: absolute;
  width: 100%;
  border-radius: 10px;
  transition-duration: 0.9s;
  line-height: 30px;
  z-index: 800;
}

#mydropdown2 {
  background: none repeat scroll 0 0 black;
  left: 0;
  position: absolute;
  width: 100%;
  border-radius: 10px;
  transition-duration: 0.9s;
  line-height: 30px;
  z-index: 800;
}

.displaynone {
  display: none;
}

.nav_menu_dropdown1 {
  background: none repeat scroll 0 0 black;
  left: 0;
  position: absolute;
  width: 100%;
  display: none;
  border-radius: 10px;
  transition-duration: 0.9s;
  line-height: 30px;
}

.nav_menu_dropdown {
  background: none repeat scroll 0 0 black;
  left: 0;
  position: absolute;
  width: 100%;
  display: none;
  border-radius: 10px;
  transition-duration: 0.9s;
  line-height: 30px;
}

.nav_menu_dropdown1 a {
  width: 110px;
}

.nav_menu_dropdown a {
  width: 120px;
}

.nav_menu_dropdown_column1:after, .nav_menu_dropdown_column1:before {
  content:"";
  display:table;
  clear:both;
  z-index: 800;
}

.nav_menu_dropdown_column:after, .nav_menu_dropdown_column:before {
  content:"";
  display:table;
  clear:both;
  z-index: 800;
}

.nav_menu_dropdown_column1 {
  float: left;
  position: relative;
  width: 30%;
  margin-top: 20px;
  margin-bottom: 14px;
  min-height: 40px;
}


.nav_menu_dropdown_column {
  float: left;
  position: relative;
  width: 25%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.display-on {
  display: block;
  transition-duration: 0.9s;
  z-index: 800;
}

.drop-down1 > a:after {
  content: "\f103";
  /* Dropdown Text Color */
  color: white;
  font-family: FontAwesome;
  font-style: normal;
}

.drop-down > a:after {
  content: "\f103";
  /* Dropdown Text Color */
  color: white;
  font-family: FontAwesome;
  font-style: normal;
}

.menu_a {
  font-size: 13px;
}

ul li a {
  padding-top: 0px;
}

.animated1 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn1 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn1 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn1 {
  -webkit-animation-name: fadeIn1;
  animation-name: fadeIn1;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


@media only screen and (max-width: 768px) {

  .nav_menu_dropdown_column1 {
    width: 30%;
  }

  .nav_menu_dropdown_column {
    width: 30%;
  }

}

@media only screen and (max-width: 480px) {

  .nav_menu_dropdown_column1 {
    width: 50%;
  }

  .nav_menu_dropdown_column {
    width: 50%;
  }
  
  nav.nav_menu ul {
    width: 300px;
  }
  
  nav.nav_menu ul li a {
  margin-top: 10px;    
  }
}
