.mia_spacer {
  margin-top: 15px;  
}

.mia_trusted {
  width: 100%;
  height: 35px;
  background-color: #929292;
  text-align: center;
  position: fixed;
  display: inline-block;
  margin-top: -15px;
  z-index: 900;
}

.mia_trusted h1{
  color: #000000;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}

.mia_trusted img{
  height: 20px;
}

.mia_trusted a{
  text-decoration: none;
  color: #000000;
}


