/**********************************************/
/** Common **/

body {
  margin: 0px;
  padding: 0px;
  background-color: #000000;  
}

.background_space {
  background-image: url(../images/background_space.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#webair_menu {
  float: right;
}

.main {
  margin-top: 50px;
}
/** Common **/
/**********************************************/

/**********************************************/
/** Page Title **/
.page_title {
  padding-top: 50px;
  width: 250px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}


.page_title h1 {
  font-family: 'Lucida Grande', 'Helvetica Neue', sans-serif;
  font-size: 35px;
  text-align: center;
  color: #fff;
  text-shadow: 0px 1px 1px #ddd,
  0px 2px 1px #d6d6d6,
  0px 3px 1px #ccc,
  0px 4px 1px #c5c5c5,
  0px 5px 1px #c1c1c1,
  0px 6px 1px #bbb,
  0px 7px 1px #777,
  0px 8px 3px rgba(100, 100, 100, 0.4),
  0px 9px 5px rgba(100, 100, 100, 0.1),
  0px 10px 7px rgba(100, 100, 100, 0.15),
  0px 11px 9px rgba(100, 100, 100, 0.2),
  0px 12px 11px rgba(100, 100, 100, 0.25),
  0px 13px 15px rgba(100, 100, 100, 0.3);

}

.page_title_top {
  width: 250px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}


.page_title_top h1 {
  font-family: 'Lucida Grande', 'Helvetica Neue', sans-serif;
  font-size: 35px;
  text-align: center;
  color: #fff;
  text-shadow: 0px 1px 1px #ddd,
  0px 2px 1px #d6d6d6,
  0px 3px 1px #ccc,
  0px 4px 1px #c5c5c5,
  0px 5px 1px #c1c1c1,
  0px 6px 1px #bbb,
  0px 7px 1px #777,
  0px 8px 3px rgba(100, 100, 100, 0.4),
  0px 9px 5px rgba(100, 100, 100, 0.1),
  0px 10px 7px rgba(100, 100, 100, 0.15),
  0px 11px 9px rgba(100, 100, 100, 0.2),
  0px 12px 11px rgba(100, 100, 100, 0.25),
  0px 13px 15px rgba(100, 100, 100, 0.3);

}
/** Page Title **/

/** Page Title **/
/**********************************************/

/**********************************************/
/** Page Menu **/
.page_menu {
  font-family: 'Lucida Grande', 'Helvetica Neue', sans-serif;
	font-size: 20px;
  font-weight: bolder;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  line-height: 12px;

}

.page_menu a {
  color: white;
  text-decoration: none;
  margin: auto;
  padding: 10px;
}

.page_menu a:hover {
  border-radius: 15px;
  background-color: #00BFF3;
}

.page_menu_active {
  border-radius: 15px;
  background-color: #00BFF3;
}
/** END Page Menu **/
/**********************************************/

/**********************************************/
/** WebAir Logo **/
.webair_logo {
  width: 100px;
  float: left;
  padding-bottom: 10px;
}
/** WebAir Logo **/
/**********************************************/

/**********************************************/
/** 99 Button **/
.button_99_div {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: auto;
  margin-right: auto;
  height: 40px;

  float: clear;
}

.button_99 {
  text-align: center;
  margin: 0 auto;
  height: 100%;
  display: block;
  width: 143px;
  font-size: 16px;
  padding-top: 7px;
  text-decoration: none;
  font-weight: bold;
  background: url("../images/button-99.png") no-repeat top center;
  color: #333;
  text-shadow: 1px 1px 1px #fffe74;

}

.button_99:hover { 
  color: #fff; 
  text-shadow: 1px 1px 1px #999; 
}
/** 99 Button **/
/**********************************************/