.webairmenu {
  margin-right: 15px;
}


.webairmenu ul{
  z-index: 100;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.webairmenu ul li{
  position: relative;
  display: inline;
  float: left;
}

.webairmenu ul li a {
  display: block;
  height: 30px;

/* WIDTH -Top-Image-IMAGE----menu-active-item-PNG----------*/
  width: 80px;
/* WIDTH -Top-Image-IMAGE----menu-active-item-PNG----------*/

  padding: 0 2px 4px 0;
  margin-left: 10px;
  line-height: 32px;
  font-size: 14px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;

/* TOP LEVEL TEXT COLOR +++++++++++++++++++++++++++++++++++*/
  color: #FED450;
/* TOP LEVEL TEXT COLOR +++++++++++++++++++++++++++++++++++*/

  text-align: center;
  text-decoration: none;
  font-weight: 550;
  outline: none;
}

/*1st sub level menu*/
.webairmenu ul li ul {
  position: absolute;

/* WIDTH -SUB-Middle-IMAGE---------------------------------*/
  width: 138px;
/* WIDTH -SUB-Middle-IMAGE---------------------------------*/

  margin: 10px 0 0 10px;
  display: none; /*collapse all sub menus to begin with*/
  visibility: hidden;

/* IMAGE Middle ...........................................*/
  background: url(https://web-air.github.io/images/menu/menu-sub-m.png) repeat-y
/* IMAGE Middle ...........................................*/

}

.webairmenu ul li ul li{
display: list-item;
float: none;
}

/* Sub level menu links style */
.webairmenu ul li ul li a{
  font-weight: 500;

/* WIDTH -SUB-TEXT-Can Leave-Alone-------------------------*/
  width: 180px;
/* WIDTH -SUB-TEXT-Can Leave-Alone-------------------------*/

  margin: 0 3px;
  height: 28px;
  line-height: 28px;
  padding: 0 10px;
  font-size: 12px;
  text-align: left;
  background: none;

/* SUB LEVEL TEXT COLOR +++++++++++++++++++++++++++++++++++*/
  color: #FED450;
/* SUB LEVEL TEXT COLOR +++++++++++++++++++++++++++++++++++*/

}

.webairmenu ul li ul li a.selected, .webairmenu ul li ul li a:hover {

/* SUB LEVEL HOVER TEXT COLOR ++++++++++++++++++++++++++*/
  color: #fff;
/* SUB LEVEL HOVER TEXT COLOR ++++++++++++++++++++++++++*/

/* WIDTH -SUB-Hover-Background----------------------------*/
  width: 110px;
/* WIDTH -SUB-Hover-Background----------------------------*/

  background: #111010;
}

.webairmenu ul li ul li .last {
  border-bottom: none;
}

.webairmenu ul li ul span.top {
  display: block;
  position: absolute;

/* WIDTH -SUB-TOP-IMAGE------------------------------------*/
  width: 138px;
/* WIDTH -SUB-TOP-IMAGE------------------------------------*/

  height: 8px;
  top: -8px;
  left: 0;

/* IMAGE Top ..............................................*/
  background: url(https://web-air.github.io/images/menu/menu-sub-t.png)
/* IMAGE Top ..............................................*/

}

.webairmenu ul li ul span.bottom {
  display: block;
  position: absolute;

/* WIDTH -Sub-Bottom-Image---------------------------------*/
  width: 138px;
/* WIDTH -Sum-Bottom-Image---------------------------------*/

  height: 10px;
  bottom: -10px;
  left: 0;

/* IMAGE Sub Bottom .......................................*/
  background: url(https://web-air.github.io/images/menu/menu-sub-b.png)
/* IMAGE Sub Bottom .......................................*/

}

.webairmenu ul li ul li ul{
top: 0;
}

.webairmenu ul li a.selected, .webairmenu ul li a:hover {

/* TOP LEVEL TEXT COLOR HOVER +++++++++++++++++++++++++++++*/
  color: #fff;
/* TOP LEVEL TEXT COLOR HOVER +++++++++++++++++++++++++++++*/

/* IMAGE Top Level Image Hover ............................*/
  background: url(https://web-air.github.io/images/menu/menu-active-item.png)
/* IMAGE Top Level Image Hover ............................*/

}

* html .webairmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}

.active_item {
/* IMAGE Top Level Image Active ...........................*/
  background: url(https://web-air.github.io/images/menu/menu-active-item.png);
/* IMAGE Top Level Image Active ...........................*/
}

.buy_now_menu {
/* IMAGE Top Level Image Active Buy Now ...................*/
  background: url(https://web-air.github.io/images/menu/buy_now_menu.png)
/* IMAGE Top Level Image Active Buy Now ...................*/
}

/* Holly Hack for IE \*/
* html .webairmenu{height: 1%;} /*Holly Hack for IE7 and below*/


/* Without this Menu mess up WHY? ------------*/
/* SHADOW to SUB LEVEL MENUES ------------*/
.ddshadow{
position: absolute;
left: 0;
top: 0;
width: 0;
height: 0;
}
/* SHADOW to SUB LEVEL MENUES ------------*/
/* Without this Menu mess up WHY? ------------*/




/**********************************************/
/** Media Queires **/

@media only screen and (max-width: 720px) {
  .webair_logo {
    float: none;
  }
  .webairmenu {
    margin-right: 10px;
  }
}
/** Media Queires **/
/**********************************************/
